.pergunta{
    background-color: #FFFFFF;
    width: 210px;
    height: 40px;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    margin-top: 5px;
    
}
.diminuir{
    width: 13px;
    height: 15px;
    margin-right: 5%;
    margin-top: auto;
    margin-bottom: auto;
}
.fonte{
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 5%;
    color: #333333;
    font-family: 'Recursive';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 14px;
}
.react{
    width: 240px;
    height: 100px;
    border-radius: 5px;
    background: #FFFFD5;
    box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.15);
    min-height: 130px;
    display: block;
    position: relative;
    cursor: default;
    margin-top: 5px;
     

}
.erro{
    background-color: #FF3030;
    border-radius:5px ;
    border: none;
}
.duvida{
    background-color: #FF922E;
    
    border-radius: 5px;
    border: none;
    margin-left: 6px;

}
.acerto{
    background-color: #2FBE34;

    border-radius: 5px;
    border: none;
    margin-left: 6px;
}
.Iconeerro{
    text-decoration: line-through;
    color: #FF3030;
   
   
}
.Iconeduvida{
    text-decoration: line-through;
    color: #FF922E;
}
.Iconeacerto{
    text-decoration: line-through;
    color: #2FBE34;
}
.finalPage{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #FFFFFF;
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 10px;
    min-height: 80px;
   
    
}
.agrupar{
    display: flex;
   justify-content: center;
   align-items: center;
   margin-top: 10%;
   margin-bottom: 15%;
}
.centroPergunta{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
.logoPequena{
    width: 30px;
    height: 40px;
  

}
.name{
width: 101.59px;
height: 22px;

font-family: 'Righteous';
font-style: normal;
font-weight: 400;
font-size: 27px;
line-height: 25px;
display: flex;
align-items: center;
text-align: center;
letter-spacing: -0.012em;

color: #FFFFFF;
}
.seta{
    position: absolute;
  bottom: 15px;
  right: 15px;
  cursor: pointer
}
.botoes{
    color: white;
    width: 10px;
    height: 40px;
    border-radius: 4px;
    padding: 2px 10px;
    cursor: pointer;
    border: none;
    font-family: 'Recursive', cursive;
    font-size: 12px;
    display: flex;
   margin-left: 30px;
   position: relative;
   margin-top: 25px;

}
.botoes *{
    color: white;
   
    border-radius: 4px;
    padding: 2px 10px;
    cursor: pointer;
    border: none;
    font-family: 'Recursive', cursive;
    font-size: 9px;

}
.imgResposta{
    width: 17px;
    height: 17px;
    margin-top: 3%;
    margin-bottom: 3%;
}